*{
    margin: 0;
    padding: 0;
    font-family: 'Merriweather';
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #bcb8b1;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background: #bcb8b1;
}
.bckgrnd-img{
    position: absolute;
    left: 740px;
    top: 150px;
    border-radius: 20px;
    opacity: 0.5;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 206.55px;
    height: 85px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}
nav ul li a{
    color: #463F3A;
    text-decoration: none;
    font-style: 'Merriweather';
    font-size: 32px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 40px;
    color: #463F3A;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #fff;
}
/*---------about---------*/
#about{
    margin-top: 80px;
    padding: 80px 0;
    color: #463F3A;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 120%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 55%;
}
.sub-title{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
    color: #463F3A;
}
.abt-content{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 57px;
    color: #fff;
}
/*Background Page*/
.boxes {
    display: flex;
    gap: 212px;
}
.background-sub-box {
    background: #D9D9D7;
    padding: 25px;
    border-radius: 35px;
    height: 100%;
    width: 484px
}

.background-sub-box img {
    width: 104px;
    height: 118px;
}

.background-box1 h1, .background-box2 h1 {
    text-align: center;
    font-size: 50px;
    color: #463F3A;
}
.background-sub-box {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: center;
    align-items: center;
}
.background-sub-box img {
    width: 50%;
    height: 70%;
}
.background-sub-box h2 {
    color: #463F3A;
}
/*Portfolio*/
.portfolio{
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 32px;
}
.portfolio h1{

font-family: 'Merriweather';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 80px;
text-align: center;
color: #463F3A;
}
.box{
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0 30px;
}
.box1{
    box-sizing: border-box;
    padding: 20px;
    background-color: #D9D9D7;
    border-radius: 35px;
    width: 400px;
    height: 700px;
}
.sub-box1 img{
    width: 100%;
    height: 314px;
    margin-bottom: 20px;
}
/*Blogs*/
.blogs{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 200px;
}
.sub-blog1{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #463F3A;
    padding-bottom: 15px;
}
/*Sing up*/
.sing-up{
    text-align: center;
    padding: 30px;
}
.sing-up a{
    text-decoration: none;
    font-size: 26px;
    color: #fff;
    background-color: #463F3A;
    border-radius: 20px;
    padding: 15px;
}
/*Contact Page*/
.contact{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 120px;
}
.subcontact1-2,.subcontact1-3,.subcontact1-4{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.subcontact1-2{
    color: black;
}
.subcontact1-3 a,.subcontact1-3 p{
    color: black;
    text-decoration: none;
}
.subcontact1 img{
    width: 40px;
    height: 40px;
    margin-right: 25px;
    transform: 0.5sec;
}
.subcontact1 img:hover{
    color: #D9D9D9;
    transform: translateY(-5px);
}
.contact-container{
    display: flex;
    width: 70%;
    align-items: center;
}
.subcontact1{
    flex-basis: 40%;
    height: 100%;
}
.subcontact1-1{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 80px;
    color: #463F3A;
}
.subcontact1-5{
    width: 75%;
    height: 70px;
}
.subcontact1-5 button{
    background-color: #463F3A;
    color: #fff;
    border-radius: 28px;
    width: 70%;
    height: 100%;
    font-size: 24px;
}
.subcontact2{
    flex-basis: 60%;
    padding-bottom: 20px;
}
.subcontact2 input,.subcontact2 textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #D9D9D9;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
.comment-submit{
    display: flex;
    justify-content: end;
    width: 100%;
}
.comment-submit button{
    background-color: #463F3A;
    color: #fff;
    border-radius: 20px;
    width: 110px;
    height: 45px;
    font-size: 20px;
}
button:hover{
    background-color:#D9D9D7;
    color: #463F3A;
}
/*----------------Responsiveness-------------------*/
nav .menu-icons{
    display: none;
}
@media only screen and (max-width:600px){
    .bckgrnd-img{
        position: absolute;
        width: 341px;
        height: 357px;
        left: 20px;
        top: 100px;
        border-radius: 20px;
    }
    .logo{
        position: relative;
        width: 100px;
        height: 50px;
    }
    .menu-icons{
        display: block;
        left: 21px;
        top: 23px;

    }
    .header-text{
        margin-top: 140%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .menu-icons{
        display: block;
    }
    nav ul li a{
        font-size: 24px;
    }
    nav ul{
        background: #D9D9D9;
        position: fixed;
        top: 0px;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .menu-icons{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    }